################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Src/.vs/Heimerdinger/FileContentIndex/072d0118-e7d0-4cc4-95f9-284ee65228ad.vsidx
/Src/.vs/Heimerdinger/FileContentIndex/58b87bdf-9306-4d60-a248-1b9167036e68.vsidx
/Src/.vs/Heimerdinger/FileContentIndex/b47eb44a-e348-48fc-84b2-fca976a1466d.vsidx
/Src/.vs/Heimerdinger/FileContentIndex/cc71c5b3-0477-4eb2-821e-863ec959eb87.vsidx
/Src/.vs/Heimerdinger/FileContentIndex
